language: java
jdk:
- openjdk8
script: mvn clean verify
deploy:
  provider: heroku
  api_key:
    secure: O+BJbIqFodX57g/+KL9xARzQ6hf9SzE7fcWQ04a95wD7mrSiLleijSsMbfKHDNZo0wNZlVpluj0mzr3sZxdzDW12NBbQx5MU0k2c6U0jtTlZPrujt1LsIdkPLKgqN7f0PrtOo+JtbO21tF0zMluAsm+zinMVaWzxMlpykoJ6aaGKmNbk8GUSlt8W7jWt5WYhuN1qr67s5p7J1F1Isd2psc3KoT/kG4KWwWQ+1/2jKhp2PM4HmKBJGCysoGZbQWn9PaaYgnIRUxmP0//WPVKX4ct0hbUGGU0Bbnu6PnSxSOnhCRMlMZFoVw9wjlg3l8xpnE5BM1pBdNgJsoBvGNX3kGtn+LjTyESD5DvciS8XnI2Am43aSy9vAC5o2qvGu2RlV+tvFwyJ4abSno5wjodRA32u8uNTb08qV+Cur7TV73JkvbE8qi9NpC+bu60wCsOHYPA+9sJJcJs0HpWGGA2S86bpNbQx6fGIhv/ekR/h/Ud1/7IvmTzQnpIydJMaPRlNgHuwJL60O4yUH+I7EQs5ycxug/WKorMFRFbBZJ5r3NRyb0gH3ADedptcnXkmJPPsXoDCCnhbb4RldWM83PHyDrIDGji+UB02xtWboHygpn78QwbieJE+1Qqqn5MlXlHoTA+qIbBO/bUueBKL4JJIvtLb+XaJqccf5sn7frdxfbk=
